body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;

}

form{
  border: solid;
  display: flex;
  padding: 2rem;

}
input{
  height: 30px;
  font-size: 24px;
}

button{
  border: 0;
  background-color: black;
  color: white;
  padding: 10px;
  width: 60px;
}
